<%- layout("layout/boilerplate.ejs") %>

<div class="row">
    <div class="alert alert-danger col-6 offset-3" role="alert">
        <p><%=message%></p>
        <h3>Page not found!</h3>
    </div>
</div>